:host {


}


nav{
  height: 60px;
  padding-left: 50px;
  border: 2px solid #b88800;
  background: rgb(254, 188, 17);
  border-bottom-width: 1px;
  display: flex;
  margin-top: 180px;
  width: 100%;
  box-shadow: 9px 9px 38px rgba(255,255,255,0.90), 5px 5px 12px rgba(255,255,255,0.22);
}

nav a {
  color: #282828;
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

nav a.router-link-active {
  color: #ffe66d;
}

nav a:hover{
  color: #fff3bb;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.affix-top {
  /* Initial items */
}

.affix{
  border: 2px solid #b88800;
  background: #febc11;
  border-bottom-width: 1px;
  display: flex;
  height: 60px;
  top: 0px;
  color: #282828;
  font-size: 16px;
  font-weight: 700;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  z-index: 20;
  width: 100%;
  margin-top: 0px;
  position: fixed;
  box-shadow: 9px 9px 38px rgba(255,255,255,0.90), 5px 5px 12px rgba(255,255,255,0.22);


}


