:host {




}
.nav2{
  height: 48px;
  padding-left: 50px;
  box-shadow: 1px 2px 3px rgba(0,0,0,.4);
  border: 2px solid #b88800;
  background: #febc11;
  border-bottom-width: 1px;
  display: block;
  margin-top: 48px;
  -webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
  transition:  2s;
}

nav{
  height: 48px;
  padding-left: 50px;
  box-shadow: 1px 2px 3px rgba(0,0,0,.4);
  border: 2px solid #b88800;
  background: #febc11;
  border-bottom-width: 1px;
  display: block;
  margin-top: -48px;

}

nav a {
  color: #282828;
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

}

nav a.router-link-active {
  color: #ffe66d;
}

nav a:hover{
  color: #fff3bb;
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;


}

.affix-top {
  /* Initial items */
}

.affix-old {
  border: 2px solid #b88800;
  background: #febc11;
  border-bottom-width: 1px;
  display: block;
  height: 48px;
  top: 0px;
  position:fixed;
  color: #282828;
  font-size: 16px;
  font-weight: 700;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  z-index: 20;
  width: 100%;
  margin-top: 0px;
}

.affix{
  border: 2px solid #b88800;
  background: #febc11;
  border-bottom-width: 1px;
  display: block;
  height: 48px;
  top: 0px;
  position:fixed;
  color: #282828;
  font-size: 16px;
  font-weight: 700;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  z-index: 20;
  width: 100%;
  margin-top: 0px;
  -webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
  transition:  2s;

}
