<div >
  <nav  [class.affix]="navIsFixed"  >
    <div class="navbar-collapse collapse" >
      <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
      <a [routerLink]="['/skills']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
        SKILLS</a>
      <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
    </div>
  </nav>
</div>

