<div [class.affix]="navIsFixedSkills" class="background-main">

  <!--Header-->
  <div class="main">
    <h1 class="skill-class-text class-text-center "> SKILLS, KNOWLEDGE AND EXPERTISE</h1>
  </div>

  <!--First Row-->
  <div class="aligner">
    <div class="skills-class skills-thirty rotate-right-3">
      <div >
        <img src=" assets/images/skills0.jpg" class="skills-imgs">
        <div class="skills-text-block">Studied and completed several projects in Artificial Intelligence under supervision and direction of professor Sebastian Thrun in Georgia Institute of Technology. Some projects included python cod to predict robot’s behavior such as Google Self driving cars based on the data receive from vireos sensors.</div>
      </div>
    </div>
    <div class="skills-class skills-thirty rotate-left-1">
      <div>
        <img src=" assets/images/skills1.jpg" class="skills-imgs">
        <div class="skills-text-block">
          Experienced to design and publish several responsive webpages with eCommerce, Web Services for enterprise organizations such as Cox, AT&T  and small businesses. Expert on frameworks such as WordPress, Bootstrap, Foundation and libraries such as jQueryi UI.
        </div>
      </div>
    </div>
    <div class="skills-class skills-thirty rotate-right-4">
      <div>
        <img src=" assets/images/skills2.jpg" class="skills-imgs">
        <div class="skills-text-block">
          Information Security skills such as Business Continuity Plan, Malware Analysis, Software Security, Vulnerability assessment, Penetration Testing, Data Encryption, Network Security, Change Control, Firewall and IDS.
        </div>
      </div>
    </div>
    <div class="skills-class skills-thirty rotate-left-2">
      <div>
        <img src=" assets/images/skills3.jpg" class="skills-imgs">
        <div class="skills-text-block">
          Build or enhanced several projects for Department of Human Services, Accenture, Cox and AT&T in Java and C#. Implemented services such as AngularJS, Spring and Web Services to provide the best experience for the users.
        </div>
      </div>
    </div>
  </div>

  <!--Second Row-->
  <div class="aligner">
    <div class="skills-class skills-thirty rotate-left-2">
      <div>
        <img src=" assets/images/skills4.jpg" class="skills-imgs">
        <div class="skills-text-block">
          Created several Mobile Application for Mobile Application Development Center of Kennesaw State University. One of the mobile application we created widely used in Coles College of Business.
        </div>
      </div>
    </div>
    <div class="skills-class skills-thirty rotate-right-3">
      <div>
        <img src=" assets/images/skills5.jpg" class="skills-imgs">
        <div class="skills-text-block">
          Knowledgeable about working with binary format of images. Completed several codes in Python to generate Panorama, Face Detection, Smoothing, blending and filtering the images. Generate cod to manipulate digital images.

        </div>
      </div>
    </div>
    <div class="skills-class skills-thirty rotate-left-4">
      <div>
        <img src=" assets/images/skills6.jpg" class="skills-imgs">
        <div class="skills-text-block">
          Ruby is one of the great tools that I used for scripting programing. I have hands-on
          experience how to protect a network from attacks such as DDos with Ruby script.
        </div>
      </div>
    </div>
    <div class="skills-class skills-thirty rotate-right-3">
      <div>
        <img src=" assets/images/skills7.jpg" class="skills-imgs">
        <div class="skills-text-block">
          Experience to to run Malware, Ransomware, Adware, rootkits Spyware or Viruses in a protected sandbox and monitor their behaviors.
        </div>
      </div>
    </div>
  </div>

  <!--Third Row-->
  <div class="aligner">
    <div class="skills-class skills-thirty rotate-right-3">
      <div>
        <img src=" assets/images/skills8.jpg" class="skills-imgs">
        <div class="skills-text-block">
          Experience with network protection and best practices of network design. Coded a program in python to protect the network from DDos Attack. Designed a python code to re route the network based on the amount of activity in each node. Capable to code a firewall with the customized rules base on the organizations policy.
        </div>
      </div>
    </div>
    <div class="skills-class skills-thirty rotate-left-1">
      <div>
        <img src=" assets/images/skills9.jpg" class="skills-imgs">
        <div class="skills-text-block">
          Trained and experienced with AWS web services, such as Redshift, DinamoDB and RDS. Hands-on
          experienced with Server-less Cloud Computing such as Lambda in AWS.
        </div>
      </div>
    </div>
    <div class="skills-class skills-thirty rotate-right-2">
      <div>
        <img src=" assets/images/skills10.jpg" class="skills-imgs">
        <div class="skills-text-block">

        </div>
      </div>
    </div>
    <div class="skills-class skills-thirty rotate-left-4">
      <div>
        <img src=" assets/images/skills11.jpg" class="skills-imgs">
        <div class="skills-text-block">

        </div>
      </div>
    </div>
  </div>

  <!--Forth Row-->
  <div class="aligner">
    <div class="skills-class skills-thirty rotate-left-4">
      <div>
        <img src=" assets/images/skills12.jpg" class="skills-imgs">
        <div class="skills-text-block">

        </div>
      </div>
    </div>
    <div class="skills-class skills-thirty rotate-right-2">
      <div>
        <img src=" assets/images/skills13.jpg" class="skills-imgs">
        <div class="skills-text-block">

        </div>
      </div>
    </div>
    <div class="skills-class skills-thirty rotate-left-1">
      <div>
        <img src=" assets/images/skills14.jpg" class="skills-imgs">
        <div class="skills-text-block">

        </div>
      </div>
    </div>
    <div class="skills-class skills-thirty rotate-right-3">
      <div>
        <img src=" assets/images/skills15.jpg" class="skills-imgs">
        <div class="skills-text-block">

        </div>
      </div>
    </div>
  </div>



</div>
