<div [class.affix]="navIsFixedSkills" class="background-main">

  <!--Header-->
  <div class="main">
     <div class="skills-class-text class-text-center">
    SKILLS, KNOWLEDGE AND EXPERTISE
     </div>
  </div>
  <div class="grid-item">
    <div class="skills-class skills-thirty " *ngFor="let skill of _skillData; let i = index"  [@myTrigger]='skill.state'
         (click)="toggleState(skill)">
      <div>
        <img src={{skill.image}} class="skills-imgs">
        <div class="skills-text-block">
          {{skill.text}}
        </div>
      </div>
    </div>
  </div>

</div>
