<div>
  <div class=" main skills-main">
    <h1 class="skill-class-text class-text-center "> AREA OF EXPERTISE</h1>
  </div>
  <div class="main">
    <div class="skills-class ">
      <h2>
        FRONT-END DEVELOPER
      </h2>
      <div class="border-span ">
          <span>
            Several years of experience by completing projects as a professional front-end developer for Accenture, COX, AT&T, Sogeti and Chick-fil-a. Used HTML5, CSS3, JavaScript, JQuery, AngularJS, Node.js and Grunt with their best practices to ensure
            client’s satisfaction.

          </span>
      </div>
    </div>
    <div class="skills-class ">
      <h2>
        BACK-END DEVELOPER
      </h2>
      <div class="border-span">
          <span>
            Worked as a professional Software Engineer Architect for Georgia Department of Human Services, AT&T,
            Accenture and Sogeti. Used Java and Spring framework.
          </span>
      </div>
    </div>
    <div class="skills-class ">
      <h2>
        INFORMATION SECURITY
      </h2>
      <div class="border-span">
          <span>
Enterprise Information Security and Assurance professional with over two years of experience in information security. Experienced with Malware Analysis, Encryption, Firewall, IDS, Business Continuity Plan and Penetration Testing.          </span>
      </div>
    </div>
  </div>
</div>
