
<div [class.affix]="navIsFixedHome">

  <div class="background-video">
    <video loop muted autoplay poster="img/videoframe.jpg" class="background-vid">
      <source src="src/client/assets/images/cyberbg.webm" type="video/webm">
    </video>
  </div>
  <div>
    <div class=" main skills-main">
      <h1 class="skill-class-text class-text-center "> AREA OF EXPERTISE</h1>
    </div>
    <div class="main">
      <div class="skills-class ">
        <h2>
          FRONT-END DEVELOPER
        </h2>
        <div class="border-span ">
          <span>
            Several years of experience by completing projects as a professional front-end developer for Accenture, COX, AT&T, Sogeti and Chick-fil-a. Used HTML5, CSS3, JavaScript, JQuery, AngularJS, Node.js and grunt with their best practices to ensure client’s satisfaction.

          </span>
        </div>
      </div>
      <div class="skills-class ">
        <h2>
          BACK-END DEVELOPER
        </h2>
        <div class="border-span">
          <span>
            Worked as a professional Software Engineer Architect for Georgia Department of Human Services, AT&T,
            Accenture and Sogeti. Used Java and Spring framework.
          </span>
        </div>
      </div>
      <div class="skills-class ">
        <h2>
          INFORMATION SECURITY
        </h2>
        <div class="border-span">
          <span>
Enterprise Information Security and Assurance professional with over two years of experience in information security. Experienced with Malware Analysis, Encryption, Firewall, IDS, Business Continuity Plan and Penetration Testing.          </span>
        </div>
      </div>
    </div>
  </div>
  <div >
    <div class="trans-background">
      <div class="main education-main">
        <h1 class="class-text-center education-class-text zero-top-margin"> EDUCATION</h1>
      </div>
      <div class="main education-main">
        <div class="dividerHor"></div>
        <div class="ten">
          <img class="education-class" src="src/client/assets/images/gatechLogoSq.jpg" alt="GATech Pic">
        </div>
        <div class="dividerHor">
        </div>
        <div class="fifty">

          <div class=" education-body-class">
            <ul>
              <li><h2> Georgia Institute of Technology, Atlanta, GA </h2></li>
              <li><h4>Master of Science, Computer Science</h4></li>
            </ul>
          </div>
          <div class="dividerVer"></div>
          <div class=" education-body-class">
            <ul>
              <h2> Kennesaw State University, Kennesaw, GA  </h2>
              <h4>Bachelor of Business, Information Security and Assurance</h4>
            </ul>
          </div>
        </div>
        <div class="dividerHor"></div>
        <div class="ten">
          <img class="education-class" src="src/client/assets/images/ksuLogoSq.jpg" alt="GATech Pic">
        </div>
      </div>
      <div class="dividerVer"></div>
      <div class="dividerVer"></div>
      <div class="dividerVer"></div>
      <div class="dividerVer"></div>
    </div>
  </div>


  <div class="volunteer-background">
    <div class="main education-main">
      <h1 class="class-text-center education-class-text zero-top-margin">VOLUNTEER</h1>
    </div>
    <div class="main volunteer-main">
      <div class="dividerHor"></div>
      <div class="fifty">
        <img class="volunteer-class" src="src/client/assets/images/CertificateMadLab-550x400.png" alt="GATech Pic">
      </div>
      <div class="dividerHor"></div>
      <div class="fifty">
        <img class="volunteer-class" src="src/client/assets/images/KennesawTeam550*400.png" alt="GATech Pic">
      </div>
    </div>
    <div class="dividerVer"></div>
    <div class="dividerVer"></div>
    <div class="dividerVer"></div>
    <div class="dividerVer"></div>
  </div>

  <!--<div class="trans-background">
        <p>Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.</p>

        <form (submit)="addName()">
          <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
          <button type="submit">Add</button>
        </form>

        <ul>
          <li *ngFor="let name of names">{{name}}</li>
        </ul>
      </div>-->

  <div>
    <ul id="menu">
      <li> <a href="#">Item 1</a> </li>
      <li> <a href="#">Item 2</a> </li>
      <li class="highlighted"> <a href="#">Item 3</a> </li>
      <li> <a href="#">Item 4</a> </li>
      <li> <a href="#">Item 5</a> </li>
    </ul>
  </div>




</div>


