
<div [class.affix]="navIsFixedHome" class="main-body">

  <div class="background-video">
    <video loop muted autoplay poster="" class="background-vid">
      <source src="assets/images/cyberbg.webm" type="video/webm">
    </video>
  </div>
    <div class="module-block">
      <!-- skills -->
      <div class="  skills-main-full">
        <h1 class="skills-class-text class-text-center "> AREA OF EXPERTISE</h1>
      </div>

      <div class="skills-main">

        <!--First Skill-->
        <div class="skills-class ">
          <h2>
            FRONT-END DEVELOPER
          </h2>
          <div class="border-span ">
            <span>
              Several years of experience by completing projects as a professional front-end developer for Accenture, COX, AT&T, Sogeti and Chick-fil-a. Used HTML5, CSS3, JavaScript, JQuery, AngularJS, Node.js and Grunt with their best practices to ensure
              client’s satisfaction.

            </span>
          </div>
        </div>
        <!--Second Skill-->
        <div class="skills-class  ">
          <h2>
            BACK-END DEVELOPER
          </h2>
          <div class="border-span">
            <span>
              Worked as a professional Software Engineer Architect for Georgia Department of Human Services, AT&T,
              Accenture and Sogeti. Used Java and Spring framework.
            </span>
          </div>
        </div>
        <!--Third Skill-->
        <div class="skills-class">
          <h2>
            INFORMATION SECURITY
          </h2>
          <div class="border-span">
            <span>
  Enterprise Information Security and Assurance professional with over two years of experience in information security. Experienced with Malware Analysis, Encryption, Firewall, IDS, Business Continuity Plan and Penetration Testing.
            </span>
          </div>
        </div>
      </div>
    </div>
<!--
    Education
-->
    <div class="module-block-education ">
        <div class="main-body education-main">
          <h1 class="class-text-center education-class-text zero-top-margin"> EDUCATION</h1>
        </div>
        <div class="main-body education-main">
          <div class="dividerHor"></div>
          <div class="ten">
            <img class="education-class" src="assets/images/gatechLogoSq.jpg" alt="GATech Pic">
          </div>
          <div class="dividerHor">
          </div>
          <div class="fifty">

            <div class=" education-body-class">
              <ul>
                <li><h2> Georgia Institute of Technology, Atlanta, GA </h2></li>
                <li><h4>Master of Science, Computer Science</h4></li>
              </ul>
            </div>
            <div class="dividerVer"></div>
            <div class=" education-body-class">
              <ul>
                <h2> Kennesaw State University, Kennesaw, GA  </h2>
                <h4>Bachelor of Business, Information Security and Assurance</h4>
              </ul>
            </div>
          </div>
          <div class="dividerHor"></div>
          <div class="ten margin-end-education">
            <img class="education-class" src="assets/images/ksuLogoSq.jpg" alt="GATech Pic">
          </div>
        </div>

    </div>

<!--
    Volunteer Section
-->
    <div class="volunteer-background hide-small">
      <div class="main-body education-main font-nosifer">
        <h1 class="class-text-center education-class-text zero-top-margin">VOLUNTEER</h1>
      </div>

      <div class="main-body education-main ">
        <div id="f1_container" >
          <div id="f1_card" class="shadow fifty">
            <div class="front face">
              <img class="center-block" src="assets/images/CertificateMadLab-550x400.png"/>
            </div>
            <div class="back face ">
              <span class="center-block padding-box">
               Thank you so much for volunteering your time and participating as a judge of Middle School Web Challenge!  These are great comments that the students and their advisors will find very helpful! <br> <br><br>
                Sincerely <br>
                Katie Dion
              </span>
            </div>
          </div>
        </div>
        <div class="dividerHor"></div>

        <div id="f2_container" >
          <div id="f2_card" class="shadow fifty">
            <div class="front face">
              <img class="center-block" src="assets/images/KennesawTeam550*400.png"/>
            </div>
            <div class="back face ">
              <span class="center-block padding-box">
                I had the opportunity to participate in a summer camp through Kennesaw State University to teach middle school students how to create a Mobile App using Game-Salad software. All student who completed the program received a certificate from MAD Junior Center.
              </span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>


  <!--<div class="trans-background">
        <p>Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.</p>

        <form (submit)="addName()">
          <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
          <button type="submit">Add</button>
        </form>

        <ul>
          <li *ngFor="let name of names">{{name}}</li>
        </ul>
      </div>-->


  <!-- This part is for 5 image selectors.
      it shows 5 frame at the screen and with hover, it would make it focus. -->
    <!--
    <div class="slides-main">
      <div class="class-item-center">
        <ul id="menu" class="class-pad">
          <li> <a href="#">Item 1</a> </li>
          <li> <a href="#">Item 2</a> </li>
          <li> <a href="#">Item 3</a> </li>
          <li> <a href="#">Item 4</a> </li>
          <li> <a href="#">Item 5</a> </li>
        </ul>
      </div>
    </div>
    -->








