:host {
  display: block;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.main{
  display: flex;
  margin-top: 0px;
  z-index: -3;
}

.education-class-text{
  color: #000000;
  text-align: center;
  flex: 100%;
  width: 100%;
  font-weight: 600;
  font-size: 32px;
  background: rgba(0,0,0,0.5);
  border: solid #000000 1px;
}

.education-class{
  border-radius: 50%;
  width: 100%;
  align-self: center;
  padding: .2em;
  background: rgba(0,0,0,0.5);
  max-height: 16em;
  max-width: 16em;
}

.education-class:hover{
  border-radius: 50%;
  width: 100%;
  align-self: center;
  padding: 0;
  transform: translate( 0% ) rotate( 360deg );
  transition: transform 2s ease;
}

.education-body-class{
  background: rgba(0,0,0,.4);
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  border: solid #febc11;
  padding-left: 2em;

}

.education-body-class:hover{
  background: rgba(0,0,0,.8);;
  color: #ffe66d;
  font-weight: 600;
  font-size: 16px;
  border: solid #febc11;
  padding-left: 2em;
}
.trans-background{
  background: url("src/client/assets/images/gradCeremonyBWLight.jpg") fixed repeat;
  background-position: center 0;
  background-color: rgba(0,0,0,.2);
  z-index: -1;
  opacity: 1;
}

.trans-background-expertise{
  background: url("src/client/assets/images/graduationCeremony.jpeg") fixed repeat;
  background-position: center 0;
  background-color: rgba(0,0,0,.2);
  z-index:-1;
  opacity: 1;
}

.affix-top {
  padding-top: 200px;
  background-color: #945849;
}
 .ten{
   flex: 10%;
 }

 .twenty{
   flex: 20%;
 }

 .thirty{
   flex: 30%;
 }

 .forty{
   flex: 40%;
 }

 .fifty{
   flex: 50%;
 }

 .sixty{
   flex: 60%;
 }

 .seventy{
   flex: 70%;
 }

 .eighty{
   flex: 80%;
 }

 .ninety{
   flex: 90%;
 }

.dividerHor{
  width:10px;
  height:auto;
  display:inline-block;
}
.dividerVer{
  width:auto;
  height:10px;
  display:inline-block;
}
