

<div >
<div class="trans-background">
  <div class="main">
    <h1 class="education-class-text"> EDUCATION</h1>
  </div>
  <div class="main">
    <div class="dividerHor"></div>
    <div class="ten">
      <img class="education-class" src="src/client/assets/images/gatechLogoSq.jpg" alt="GATech Pic">
    </div>
    <div class="dividerHor">
    </div>
    <div class="fifty">

      <div class=" education-body-class">
        <ul>
          <li><h2> Georgia Institute of Technology, Atlanta, GA </h2></li>
          <li><h4>Master of Science, Computer Science</h4></li>
        </ul>
      </div>
      <div class="dividerVer"></div>
      <div class=" education-body-class">
        <ul>
          <h2> Kennesaw State University, Kennesaw, GA  </h2>
          <h4>Bachelor of Business, Information Security and Assurance</h4>
        </ul>
      </div>
    </div>
    <div class="dividerHor"></div>
    <div class="ten">
      <img class="education-class" src="src/client/assets/images/ksuLogoSq.jpg" alt="GATech Pic">
    </div>
    <div class="dividerHor"></div>
  </div>
  <div class="dividerVer">
  </div>
</div>


<div class="trans-background-expertise ">
  <div class="main">
    <hr>
    <h1 class="education-class-text"> AREA OF EXPERTISE</h1>
  </div>
</div>



<p>Howdy! Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.</p>

<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>
</div>
