<div [class.affix]="navIsFixedAbout" class="black-bg">
  <div class=" main skills-main">
    <h1 class="skills-class-text class-text-center "> RESUME </h1>
  </div>
  <div class="main main-body-div">
    <button class="print-button" (click)="printThisPage() ">Print</button>
    <h2>SUMMARY:</h2>
    <span class="indent">
      Enterprise Software Development and Information Security professional with over 6 years of experience in information security, Software Engineering, information systems operations, and proven knowledge of advanced software development.
    </span>
    <h2>
      Skills:
    </h2>
    <ul>
      <li>Software Developer</li>
      <li>Full stack software development includes Back-end services and UX/UI. Designed, developed and implemented several software using Java, HTML-5, JavaScript, CSS with, AngularJS framework, relationship databases, SOAP and REST APIs.</li>
      <li>Created a Mobile Android Application for Kennesaw State University (Coles College internal app).</li>
      <li>Information Security</li>
      <li>Information Security monitoring and operation program to ensure C.I.A of information owned by organization and OWASP standard’s implementation.</li>
      <li>Provide security incident respond program for the organization.</li>
    </ul>
    <h2>
      EDUCATION:
    </h2>
    <span class="indent">
      Master of Science, Computer Science
      Georgia Institute of Technology, Atlanta, GA
      Bachelor of Information Security and Assurance
      Kennesaw State University, Kennesaw, GA
    </span>
    <h2>
      TECHNICAL SKILLS:
    </h2>
    <ul>
      <li>Java</li>
      <li>HTML-5</li>
      <li>AngularJS</li>
      <li>Python</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Ruby</li>
    </ul>
    <h2>
      EXPERIENCE:
    </h2>
    <h4>
      Sogeti / Chick-fil-A 	03/2016 - Present
      Senior Software Developer
    </h4>
    <h6 class="indent">
      Create and designed an enterprise software for Chick-fil-a restaurant chain to engage their operators with customers. Monitoring and displaying daily activities, ability to send emails and events to customers and more. Software was built on Java, Rest APIs, Node.js, Grunt, HTML, JavaScript, JQuery and AngularJS
    </h6>

    <h4>
      Accenture, Atlanta 	05/2015 - 03/2016
      Senior Software Developer
    </h4>
    <h6 class="indent">
      Worked as a contractor for Georgia Department of Human Services as a Java Developer to maintain and support the SHINES project. This project created on 2006 for DHS by Accenture.
      Developed SQL scripts to remove errors in database and maintain the functionality of the software.
      Worked as a contractor for COX communication with their high level designed Intranet, structure and security.
      Java was used as core technology with Maven and Ant build.
    </h6>

    <h4>
      AT&T	06/2014 - 05/2015
      Software Developer
    </h4>
    <h6 class="indent">
      Developed a website for AT&T with C# in MVVM model to help automate the daily tasks. Implementation raised productivity over 19 times (Internal Website).
      Achieved 6-Sigma Green Belt Quality Management System Certificate.
      Kennesaw State University “MAD LAB”, Kennesaw, GA 	01/2012 - 06/2014
      Mobile Application Developer (Internship)
      Designed and implemented mobile applications for Coles College of Business and Humanities and Social Sciences for IOS and Android mobile platforms
      Served as a member of a 5-person design team charged with initial concept design, field testing, and gathering and analysis of user feedback
      Systems now being utilized by over 1000 students staff and faculty in the KSU Campus community
      Java, Html, CSS, JavaScript and Phone-Gap used as core technology and
    </h6>


    <h4>
      Bravo Inc. Atlanta, GA 	01/2001 - 2008
    </h4>
    <h6 class="indent">
      District Manager/Area Coach, (Statesboro, GA to Hilton Head, SC)
      Managed up to 12 franchise locations, managing employee human resources functions, systems implementation, budgeting and forecasting and long and short range planning
      Oversaw an average revenue stream of $1 million per store ($12 million per year) and provided regular input and updates to national.
      Two Stores out of 40 in the city chosen as designated training locations for new team members
      Two employees from stores selected for Yum Scholarships.
    </h6>




    <h2>
      CERTIFICATIONS
    </h2>
    <ul>
      <li>Certified Scrum Master (CSM)</li>
      <li>Six Sigma Green Belt</li>
      <li>Amazon Web Services (AWS)</li>
    </ul>

  </div>


</div>
