:host {
  background: #000000;
  color: rgba(255, 255, 255, 0.7);
  height: 180px;
  padding: 0px 0px;
  z-index: -5;
}

.cssNone{
  display: none;
}

h1 {
  display: block;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 180px;
  margin-left: 200px;
}

.position-fix{
  position:fixed;
  background: rgba(0,0,0,.9);
  width: 100%;
  z-index: -5;
  height: 180px;
}
.more {
  display: block;
  background: url("./assets/svg/more.svg");
  float: right;
  height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 24px;
  margin-left: 400px;
}
.round-image{
  display:flex;
  border-radius: 50px;
  height: 155px;
  position: fixed;
  -webkit-transition: all 2s ease-in-out; ;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  align-items: center;
  justify-content: center;
}

img.round-image:hover{
  position: absolute;
  border-radius: 50px;
  width: 75px;
  height: 75px;
  -webkit-transition: all 2s ease-in-out; ;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;



}
.name-center{
  position: relative;
  display: flex;
  display: -webkit-flex;
  margin-top: 135px ;
  align-items: center;
  justify-content: center;

}

.block-class{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0 -80px 0 ;
}
