:host {
  background: #000000;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  height: 48px;
  padding: 0 0;
}

h1 {
  display: block;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
  margin-left: 200px;
}

.position-fix{
  position:fixed;
  background: rgba(0,0,0,.9);
  width: 100%;
  z-index: -5;
}
.more {
  display: block;
  background: url("./assets/svg/more.svg");
  float: right;
  height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 24px;
  margin-left: 400px;
}
.round-image{
  margin-left: 100px;
  display:block;
  margin-left: 40px;
  border-radius: 50px;
  width: 55px;
  height: 55px;
  position: absolute;
  -webkit-transition: all 2s ease-in-out; ;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

img.round-image:hover{
  position: absolute;
  margin-left: 40px;
  border-radius: 50px;
  width: 75px;
  height: 75px;
  -webkit-transition: all 2s ease-in-out; ;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;

}
.name-center{
  position: absolute;
  display: block;
  margin-top: 10px ;
  margin-left: 120px;

}
