:host{
position: relative;
  z-index: 300;
}
.background-footer{
  background: rgba(0,0,0,1);
  min-height: 4em;
  border-top: inset rgba(255,255,255,0.6) 5px;
  border-bottom: inset rgba(255,255,255,0.6) 5px;
  z-index: 1000 ;
  width: 100%;

}

.footer-text{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  align-self: center;
  vertical-align: middle;
  padding: 1em;
  color: rgba(255,255,255,1);
  text-shadow: 5px 3px 27px rgba(255, 255, 255, 1);
  z-index: 1 ;
  width: 100%;
  justify-content: center;
  opacity: 1;
}
